.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100%;
    position: relative;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.icon {
    border: none;
    background-color: transparent;
    position: absolute;
    path {
        fill: var(--var-fontcolor);
    }
    &:hover {
        cursor: pointer;
    }
}

.crossIcon {
    right: 20px;
    top: 18px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.statsBlock {
    border-top: 2px dashed var(--var-fontcolor);
    padding: 20px 5px 20px 5px;
    margin-top: 10px;

    p {
        margin: 2px;
    }

    a {
        color: rgb(55, 166, 251)
    }
}


.googleAuth {
    margin: 0 auto;
    height: 30px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    background-color: var(--var-cellcolor);
    color: var(--var-fontcolor);
}

.logout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    button {
        width: 70px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--var-cellcolor);
        color: var(--var-fontcolor);
    }
}