version: '3.9'
services:
  octordle_nginx:
    image: nginx
    container_name: octordle_nginx
    depends_on:
      - octordle_server
      - octordle_client
    command: [nginx-debug, '-g', 'daemon off;']
    volumes:
      - ./app.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/live/octordle.ru/:/etc/letsencrypt/live/octordle.ru/:ro
    ports:
      - 80:80
      - 443:443
  octordle_client:
    image: octordle_client:latest
    container_name: octordle_client
  octordle_server:
    image: octordle_server:latest
    container_name: octordle_server
    depends_on:
      - postgres
    env_file:
      - ./.env
    environment:
      - POSTGRES_DOMAIN=postgres
    restart: always
    ports:
      - 5000:5000
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - ./.env
    volumes:
      - ./demodb-data:/var/lib/postgresql/data
    ports:
      - 5432:5432