:root {
  --var-bgcolor: #181a1b;
  --var-fontcolor: #ddd;
  --var-cellcolor: #555e55;
  --var-activecellcolor: #889188;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--var-bgcolor);
  color: var(--var-fontcolor);
}

