.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.day {
    margin: 10px 0 10px 0;
}

.icon {
    border: none;
    background-color: transparent;
    position: absolute;
    path {
        color: var(--var-fontcolor);
    }
    fill: var(--var-fontcolor);
    stroke: var(--var-fontcolor);
    &:hover {
        cursor: pointer;
    }
}

.tutorialIcon {
    right: 15px;
    top: 18px;
}

.settingsIcon {
    right: 50px;
    top: 18px;
}

.statsIcon {
    left: 15px;
    top: 18px;
}

.personIcon {
    left: 50px;
    top: 18px;
}

.bellIcon {
    right: calc(50% - 90px);
    bottom: 2px;
    width: 35px;
    height: 35px;
}

.noNewNews {
    path {
        color: gray;
    }
    fill: gray;
    stroke: gray;
}

.animatedBell {
    path {
        fill: yellow;
    }
    right: 5px;
    bottom: 4px;
    position: relative;
}