.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.page {
    height: 100%;
    position: relative;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
    scrollbar-width: none;
}

.icon {
    border: none;
    background-color: transparent;
    position: absolute;
    path {
        fill: var(--var-fontcolor);
    }
    &:hover {
        cursor: pointer;
    }
}

.crossIcon {
    right: 20px;
    top: 18px;
}

.block {
    border-top: 2px dashed var(--var-fontcolor);
    padding: 20px 5px 20px 5px;

    p {
        margin: 2px;
    }
}

.log {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}