.content {
    max-height: 600px;
    min-height: 100px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
    scrollbar-width: none;
}

.text {
    margin: 2px;
    font-size: 16px;
}