# name: Deploy server to Cloud

# on:
#   push:
#     branches: ["main"]
# jobs:
#   deploy:
#     name: Deploy
#     runs-on: ubuntu-latest
#     defaults:
#       run:
#         working-directory: .
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v3
#         with:
#           fetch-depth: 0
#       - name: Setup key
#         run: |
#           set -eu
#           mkdir "$HOME/.ssh"
#           echo "${{ secrets.ID_RSA }}" > "$HOME/.ssh/key"
#           chmod 600 "$HOME/.ssh/key"
#       - name: Change env file
#         run: |
#           echo POSTGRES_USER="${{ secrets.POSTGRES_USER }}" >> ".env"
#           echo POSTGRES_PASSWORD="${{ secrets.POSTGRES_PASSWORD }}" >> ".env"
#           cat .env
#       # - name: Add PRIVKEY and CERT
#       #   run: |
#       #     echo "${{ secrets.PRIVKEY }}" > ./privkey.pem
#       #     echo "${{ secrets.CERT }}" > ./cert.pem
#       - name: Build
#         run: | 
#           docker build -t octordle_server:latest ./server
#           docker build -t octordle_client:latest \
#             --build-arg NEXT_PUBLIC_TG_TOKEN=${{ secrets.TG_BOT_TOCKEN }} \
#             --build-arg NEXT_PUBLIC_CHAT_ID=${{ secrets.CHAT_ID }} \
#             --build-arg NEXT_PUBLIC_GOOGLE_ID=${{ secrets.GOOGLE_ID }} \
#             --build-arg NEXT_PUBLIC_SERVER_URL=${{ vars.NEXT_PUBLIC_SERVER_URL }} \
#             .
#       - name: Save docker image to file
#         run: |
#           docker save octordle_server:latest -o octordle_server.tar
#           docker save octordle_client:latest -o octordle_client.tar
#       - name: Copy files
#         run: scp -i $HOME/.ssh/key -o StrictHostKeyChecking=no octordle_server.tar octordle_client.tar docker-compose.yml .env app.conf iliamikado@84.201.153.241:~
#       - name: load docker image
#         run: |
#           ssh -i $HOME/.ssh/key -o StrictHostKeyChecking=no iliamikado@84.201.153.241 'sudo docker load -i ~/octordle_server.tar'
#           ssh -i $HOME/.ssh/key -o StrictHostKeyChecking=no iliamikado@84.201.153.241 'sudo docker load -i ~/octordle_client.tar'
#       - name: docker restart
#         run: ssh -i $HOME/.ssh/key -o StrictHostKeyChecking=no iliamikado@84.201.153.241 'sudo docker-compose up --build --force-recreate --no-deps -d'